.dir > ul{
    margin: 0;
}

.dir ul li.expanded > ul{
    display: block;
}
.dir ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dir ul li > ul{
    display: none;
    margin-left: 0px;
    
}
.dir ul li{
    padding-left: 20px;
    position: relative;
    margin-left: 0px;
}
.icon.icon-dir:before{
    content: '';
    background-color:#ee6748;
    position: absolute;
    left: 0px;
    top: 6px;
    width: 15px;
    height: 9px;
    border-radius: 2px;
}
.icon.icon-dir:after{
    content: '';
    background-color:#ee6748;
    position: absolute;
    left: 2px;
    top: 4px;
    width: 8px;
    height: 4px;
    border-radius: 2px;
}
.icon.icon-file:before{
    content: '';
    background-color:#FEFEFE;
    position: absolute;
    left: 1px;
    top: 4px;
    width: 12px;
    height: 14px;
    border: 1px solid #AAAAAA;
}
.icon.icon-file:after{
    content: '';
    background-color:transparent;
    position: absolute;
    left: 3px;
    top: 9px;
    width: 8px;
    height: 4px;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}
.updir{
    overflow: hidden;
}
.dir-select{
    padding-bottom: 10px;;
}
@media screen and (min-width: 768px){
    .file-manager-body {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }
    .file-manager-body .dir {
        box-sizing: border-box;
        border: 1px solid #DDDDDD;
        background: white;
        background-color: white;
        height: calc( 100vh - 180px );
        width: calc( 25% - 10px );
        padding: 10px;
        position: relative;
        overflow-y: auto;
    }
    .file-manager-body .file {
        box-sizing: border-box;
        border: 1px solid #DDDDDD;
        background: white;
        background-color: white;
        height: calc( 100vh - 180px );
        width: calc( 75% - 10px );
        padding: 10px;
        position: relative;
        overflow-y: auto;
    }
}
@media screen and (max-width: 768px){
    .file-manager-body .dir{
        display: none;
    }
    .file-manager-body .file{
        max-height: calc( 100vh - 200px );
        overflow: auto;
    }
    .dir-select{
        display: block;
    }
    .file-modify{
        display: none;
    }
    .file-manager .button-area{
        padding-top: 10px;
    }
}
.file-manager-body .file table tbody td a{
    display: block;
}
.file-manager .button-area{
    padding: 10px 0 0 0;
}

.file-manager-body ul li.icon.icon-dir a{
    white-space: nowrap;
}